.group-list-item {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  background-color: black;
}

.group-list-item-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.group-list-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.group-list-item-name {
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.group-list-item-description {
  font-size: 12px;
  color: gray;
}
