.calendar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.calendar-content {
    width: 90%;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
    margin-top: 20px;
}

.calendar-day {
    aspect-ratio: 1;
    font-weight: bold;
    border: 1px solid var(--color-neon-blue-light);
    border-radius: 50%;
    display: flex;
    background-color: var(--color-neon-blue-light);
    align-items: center;
    color: white;
    justify-content: center;
    cursor: pointer;
    position: relative;
    font-size: 14px;
}

.calendar-day.selected {
    background-color: var(--color-neon-blue);
    color: white;
    border: 1px solid var(--color-neon-blue-light);
}

.calendar-day.in-range {
    background-color: var(--color-neon-blue);
}

.calendar-day.has-event::after {
    content: '';
    position: absolute;
    bottom: 2px;
    width: 4px;
    height: 4px;
    background: #ff4444;
    border-radius: 50%;
}

.weekday-header {
    text-align: center;
    font-weight: bold;
    color: var(--color-neon-blue-dark);
}

.calendar-confirm-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.calendar-confirm-button:hover {
    background-color: #0056b3;
}

.calendar-header {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;
  }
  
  .calendar-header select {
    border: 1px solid var(--color-neon-blue-light);
    background-color: var(--color-neon-blue-light);
    color: white;
    border-radius: 8rem;
    margin: 1rem;
    font-weight: bold;
  }
  