.calendar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    display: flex;
    max-width: 80rem;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.calendar-content {
    width: 90%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
}

.calendar-day {
    aspect-ratio: 1;
    font-weight: bold;
    border: 2px solid var(--color-neon-blue-dark);
    border-radius: 50%;
    display: flex;
    background-color: var(--color-neon-blue-light);
    align-items: center;
    color: white;
    justify-content: center;
    cursor: pointer;
    position: relative;
    font-size: 1.2rem;
    position: relative;
    z-index: 1;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.877);
}

.calendar-day.selected {
    background-color: var(--color-neon-blue);
    border: 6px solid var(--color-neon-blue-dark);
    color: white;
}

.calendar-day.in-range {
    background-color: var(--color-neon-blue-light-2);
    border: 6px solid var(--color-neon-blue-dark);
}

.calendar-day.has-event::after {
    content: '';
    position: absolute;
    bottom: 2px;
    width: 4px;
    height: 4px;
    background: #ff4444;
    border-radius: 50%;
}

.weekday-header {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}

.calendar-day-today {
    border: 6px solid red !important; 
}

.calendar-day-liked {
    border: 6px solid greenyellow !important; 
}


.month-nav-button {
    color: white;
    padding: .7rem;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.month-nav-buttons {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.month-nav-button:hover {
    background-color: var(--color-neon-blue-light-2);
    cursor: pointer;
    color:white;
}

.month-year-display {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
}


.calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.calendar-header select {
    background-color: var(--color-neon-blue-light);
    color: white;
    border: 1px solid var(--color-neon-blue-dark);
    border-radius: 8rem;
    font-weight: bold;
    margin: 1rem;
    width: 100%;
}

.date-selector-container {
    display: flex;
    width: 100%;
}

.selector-option {
    color: var(--color-neon-blue-dark);
}

.month-year-display {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.375rem;
    transition: background-color 0.2s;
}
  
.calendar-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;

}

.calendar-confirm-button {
    padding: 10px 20px;
    width: 25rem;
    color: white;
    border: none;
    border-radius: 8rem;
    cursor: pointer;
    background: var(--color-neon-blue-light);
    border: 1px solid var(--color-neon-blue-dark);
}

.calendar-confirm-button:hover {
    background-color: var(--color-neon-blue-light-2);
    color:white;
}

.calendar-reset-button:hover {
    background-color: var(--color-neon-pink-light-2);
    color:white;
}

.calendar-reset-button {
    width: 25rem;
    padding: 10px 20px;
    background-color: var(--color-neon-pink-light);
    color: white;
    border: 1px solid red;
    border-radius: 8rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .calendar-container {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .calendar-content {
        width: 100%;
        padding: 1rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        height: 80%;
        justify-content: space-between;
    }

    .month-nav-buttons {
        display: none;
    }

    .calendar-grid {
        justify-content: center;
    }
    
}

.weekend-header {
  color: var(--color-neon-blue-dark); /* dark blue */
  font-weight: 600;
}


