.city-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 4rem;
  margin-bottom: 1.5rem;
  user-select: none;
  background-color: var(--color-neon-blue-light);
  border: 1px solid var(--color-neon-blue-light);
}

.city-bar-icon {
  font-weight: 100 !important;
}

.suggestions-list,
.recent-searches ul {
  position: absolute;
  width: 100%;
  border-radius: 0 0 8px 8px;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
}

.city-bar-input-button-close {
  cursor: pointer;

}

.city-bar-input-button-close:hover {
  color: var(--color-neon-pink);
}

.suggestions-list li,
.recent-searches li {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.recent-searches h4 {
  padding: 10px 20px;
  margin: 0;
  color: #666;
}

.city-bar-split {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.city-bar-input-container {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.city-bar-divider {
  color: var(--color-neon-blue);
  font-size: 1.5rem;
  padding: 0 0.5rem;
  opacity: 0.2;
}

.city-bar-input-container:hover {
  color: var(--color-neon-blue);
}

