
.home-bubbles-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.home-bubble {
  display: flex;
  width: 100%;
  color: white;
  height: 4rem;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  gap: 1rem;
  background-color: var(--color-neon-blue-light);
}

.home-bubble:hover {
  scale: 1.01;
  transition: scale 0.3s ease-in-out;
  background-color: var(--color-neon-blue-light-2);
}
