.ticket-definition {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 10px;
  margin: 0 auto;
  width: 100%;
  max-width: 80rem;
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.ticket-input-date {
  color: white;
}

/* Styling für das Kalender-Symbol */
.ticket-input-date::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Macht das Symbol weiß */
  cursor: pointer;
}

/* Für Firefox */
.ticket-input-date::-moz-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

/* Für Edge */
.ticket-input-date::-ms-clear {
  filter: invert(1);
  cursor: pointer;
}

.ticket-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  position: relative;
}

.ticket-row input {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #1a1a1a;
  color: white;
  font-size: 16px; /* Verhindert Zoom auf iOS */
}

.add-ticket-button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  color: white;
  border: none;
  border-radius: 5px;

}

.create-tickets-button {
  background-color: var(--color-neon-blue);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  color: white;
  border: none;
  border-radius: 5px;
}

.ticket-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}

.delete-button:hover {
  background-color: #c82333;
}

/* Media Query für Desktop */
@media screen and (min-width: 768px) {
  .ticket-row {
    flex-direction: row;
    align-items: center;
  }

  .ticket-inputs {
    flex-direction: row;
    flex: 1;
  }

  .delete-button {
    margin-top: 0;
    margin-left: 10px;
  }

  .ticket-definition {
    width: 100%;
    margin-top: 2rem;
  }

  button {
    width: auto;
  }
}