
.event-section-container {
  border-radius: 1rem 1rem 0 0;
  max-width: 80rem;
  margin: 0 auto;
}

.popular-title {
  font-size: 2rem; 
  margin-left: 1rem;
  font-weight: 600;
  color: white;
  text-align: left;
  text-transform: uppercase;
  top: 75px;
  z-index: 10;
  padding: 1rem 0;
  /* Stelle sicher, dass der Container einen definierten Kontext hat */
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

/* Haupt-Container für die Event-Karten */
.event-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  gap: 0.75rem;
  padding: 0 1rem;
  box-sizing: border-box;
}

.event-card-list-item {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .popular-title {
    font-size: 1rem;
  }
  .event-list-container {
    width: 100%;
    max-width: 100%;
    gap: 0.5rem;
    padding: 0 0.5rem;
    box-sizing: border-box;
  }
  
  .event-card-list-item {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
}