.nearby-section-container {
  width: 100%;
}

.nearby-section-container {
  overflow: hidden;
}

.map-view-container {
  margin-top: -2.5rem;
}

.your-next-events-container {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.your-next-events-heading {
  font-size: 2rem;
  text-align: left;
  color: white;
  padding-left: 1rem;
}


.no-liked-events {
  margin-top: 10rem;
  color: white;
  gap: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
