.event-card-container {
  width: 18rem;
  height: 30rem;
  overflow: hidden;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
}

.event-card-image-container {
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.event-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-card-info-container {
  width: 100%;
  height: 30%;
  background-color: black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.event-card-title {
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  color: white;
  margin-bottom: 0.5rem;
}

.event-card-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  gap: 0.3rem;
}

.event-card-date {
  color: #bbb;
  font-size: 0.9rem;
}

.event-card-location-container {
  color: var(--color-neon-blue);
  font-size: 0.9rem;
}


.event-card-location-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.event-card-container:hover {
  transform: translateY(-4px);
}

.event-card-views-container {
  color: var(--color-neon-pink);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.event-card-comments-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: grey;
}

/* Entferne die nicht mehr benötigten alten Styles */
.event-image,
.event-image img,
.event-info,
.event-info h3,
.event-date {
  display: none;
}


.hover-effect {
  transform: translateY(-4px);
  box-shadow: 0 0 20px var(--color-neon-blue);
}

.comment-user-image {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}


.event-card-community-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  gap: 0.5rem;
}

.comment-user-container {
  display: flex;
  flex-direction: row;
}
