.event-card-container {
  width: 20rem;
  height: 35rem;
  overflow: hidden;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
}

.event-card-image-container {
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.event-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-card-info-container {
  width: 100%;
  background-color: black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.event-card-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-card-tags {
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-card-description {
  color: gray;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-right: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.event-card-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
}

.event-card-date {
  color: #bbb;
  font-size: 0.9rem;
}

.event-card-location-container {
  color: var(--color-neon-blue);
  font-size: 0.9rem;
}


.event-card-location-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.event-card-container:hover {
  transform: translateY(-4px);
}

.event-card-views-container {
  color: var(--color-neon-pink);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.event-card-comments-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: grey;
}

.event-card-like-container {
  cursor: pointer;
}

.hover-effect {
  transform: translateY(-4px);
  box-shadow: 0 0 20px var(--color-neon-blue);
}

.comment-user-image {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.event-card-community-container-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}


.event-card-community-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  gap: 0.5rem;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 0.5rem;
  margin-top: 1rem;
}

.event-card-user-interaction-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.comment-user-container {
  display: flex;
  flex-direction: row;
}


@media (max-width: 768px) {
  .event-card-container {
    width: 15rem;
    height: 30rem;
  }

  .event-card-details {
    margin-top: 0.01rem;
  }

  .event-card-image-container {
    height: 35rem;
  }
  .event-card-info-container {
    height: 20rem;
  }
  .event-card-title {
    font-size: 1rem;
  }
  .event-card-description {
    font-size: 0.9rem;
  }
  .event-card-details {
    font-size: 0.8rem;
  }
}

