
.event-section-container {
  border-radius: 1rem 1rem 0 0;
  max-width: 80rem;
  margin: 0 auto;
}

.popular-title {
  font-size: 2rem; 
  margin-left: 1rem;
  font-weight: 600;
  color: white;
  text-align: left;
  text-transform: uppercase;
  top: 75px;
  z-index: 10;
  padding: 1rem 0;
  /* Stelle sicher, dass der Container einen definierten Kontext hat */
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

/* Haupt-Container für die Event-Karten */
.event-list-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  max-width: 80rem;
  margin: 0 auto;
  flex-direction: row;
  overflow-y: hidden;
  gap: 0.5rem;
  white-space: nowrap;
  height: 100%;
}

.event-list-container::-webkit-scrollbar {
  display: none;
}

/* Die einzelnen Karten sollen nebeneinander bleiben */
.event-card-list-item {
  flex: 0 0 auto;
  scroll-snap-align: start;
}


.event-list-wrapper {
  position: relative;
  display: flex;
  justify-content: start;
}


.event-list-container::-webkit-scrollbar {
  display: none;
}
.event-card-list-item {
  min-width: 250px;
  flex-shrink: 0;
  max-width: 80rem;
  margin: 0 auto;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  padding: 0.5rem;
  z-index: 10;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.scroll-button-left {
  left: 0;
}

.scroll-button-right {
  right: 0;
}

  @media (max-width: 768px) {
    .popular-title {
      font-size: 1.5rem;
    }
    .event-list-container {
      gap: 0.3rem;
      padding: 0.5rem;
    }
  }