.comment-textfield-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  margin-bottom: 10px;
}

.comment-textfield {
  padding: 0.5rem;
  width: 100%;
  border-radius: 10px;
  background-color: black;
  border: none;
}

.comment-textfield:focus {
  border: 1px solid #ccc;
  border-color: white;
}
