.comment-component-container {
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
}

.comment-text {
  font-weight: 500;
  font-size: 16px;
  color: white;
  padding: 10px;
  border-radius: 4px;
}

.comment-username {
  font-weight: 500;
  margin-top:  2rem;
  font-size: 16px;
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.nested-comments {
  margin-left: 20px;
  border-left: 1px solid var(--color-neon-blue-light);
  padding-left: 10px;
  position: relative;
}

.nested-comments::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background: color(var(--primary-color));
}

.reply-form {
  margin-left: 40px;
  position: relative;
}

.reply-form::before {
  content: '';
  position: absolute;
  left: -20px;
  top: -10px;
  height: calc(100% + 10px);
  width: 2px;
  background: color(var(--primary-color));
}

.comment-reply-button {
  align-self: flex-start;
  background: transparent;
  color: var(--color-neon-blue);
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-left: 8px;
  margin-top: -1rem;
}

.comment-reply-button:hover {
  background: color(var(--primary-color));
}

.comment-meta {
  display: flex;
  justify-content: left;
  align-items: right;
  gap: 5px;
}

.comment-content {
  border-radius: 4px;
  padding: 10px;
  margin-top: 0.5rem;
}

.comment-date {
  font-size: 12px;
  margin-left: 10px;
  color: grey;
}

.comment-user-container {
  display: flex;
  align-items: flex-start;
}

.comment-user-image-wrapper {
  padding-top: 1.5rem;
}

.comment-user-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.comment-content {
  flex: 1;
}

.comment-user-image-wrapper:hover {
  cursor: pointer;
}