.comment-section {

    margin: 2rem 0;
    padding: 2rem;
    background: black;
    color: white !important;
    border-radius: 1rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}