/* EventDescription.css */

.event-description-section {
    padding: 2rem;
    background: black;
    color: white;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  .event-description-text {
    color: lightgray;
    text-align: left;
    font-size: 1.1rem;
    line-height: 1.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    transition: all 0.3s ease;
  }
  
  .collapsed .event-description-text {
    -webkit-line-clamp: 4;
  }

  .more-info-icon{
    margin: 0 auto;
  }
  
  .expanded .event-description-text {
    -webkit-line-clamp: unset;
    overflow: visible;
  }
  
  .expand-hint {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #aaa;
  }
  