.lineup-picture {
  width: 30rem;
  height: auto;
  border-radius: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 1rem;
}
