.event-host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  margin: 2rem 0;
}


.event-host-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}

.event-host-info:hover {
  transition: transform 0.3s ease-in-out;
  text-decoration: underline;
  color: var(--color-neon-blue) !important;
}

.event-host img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.event-host-name {
  font-size: 12px;
  font-weight: 600;
}

.event-host-name:hover {
}

.event-host img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
}
