/* src/components/AdminEvents.css */

.admin-events-container {
    max-width: 80rem;
    margin: auto;
    padding: 1rem;
  }
  
  h2 {
    text-align: center;
    color: white;
  }
  
  .loading,
  .no-events {
    text-align: center;
    font-size: 1.2rem;
    color: #777;
  }
  
  .events-grid-my-events {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;
  }

  @media (max-width: 1024px) {
    .events-grid-my-events {
      display: flex;
      flex-direction: column;
    }
  }

  @media (max-width: 600px) {
    .events-grid-my-events {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-top: 15px;
    }
  }
  
  .event-card-my-events {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: black;
    overflow: hidden;
    height: 25rem;
  }

  .event-card-my-events:hover {
    transform: translateY(-4px);
    transition: transform 0.3s ease;
  } 
  .admin-event-image {
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    cursor: pointer;
  }

  .event-content h3 {
    margin: 0 0 0.5rem 0;
    font-size: 1.2rem;
    color: #333;
  }
  
  .event-content p {
    margin: 0 0 0.5rem 0;
    color: #555;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .event-details {
    font-size: 0.9rem;
    display: flex;
    color: black;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: auto;
  }
  
  .event-details span {
    padding: 4px 8px;
    font-size: 0.8rem;
  }
  
  .event-actions-my-events {
    padding: 1rem;
    gap: 0.5rem;
    background: black;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
  }
  
  .edit-btn,
  .delete-btn,
  .go-to-event-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    transition: all 0.2s;
  }
  
  .go-to-event-btn {
    color: #007bff;
  }
  
  .delete-btn {
    color: #dc3545;
  }
  
  .edit-btn {
    color: #25D366;
  }
  