/* src/components/AdminEvents.css */

.admin-events-container {
    max-width: 900px;
    margin: auto;
    padding: 1rem;
  }
  
  h2 {
    text-align: center;
    color: white;
  }
  
  .loading,
  .no-events {
    text-align: center;
    font-size: 1.2rem;
    color: #777;
  }
  
  .events-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    margin-top: 20px;
  }
  
  .event-card {
    display: flex;
    flex-direction: column;
    background: white;
    overflow: hidden;
  }
  
  .event-image {
    width: 100%;
    height: 25rem;
  }
  
  .event-image img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
  }
  
  .event-content {
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .event-content h3 {
    margin: 0 0 0.5rem 0;
    font-size: 1.2rem;
    color: #333;
  }
  
  .event-content p {
    margin: 0 0 0.5rem 0;
    color: #555;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .event-details {
    font-size: 0.9rem;
    display: flex;
    color: black;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: auto;
  }
  
  .event-details span {
    padding: 4px 8px;
    font-size: 0.8rem;
  }
  
  .event-actions {
    padding: 1rem;
    gap: 0.5rem;
    border-radius: 1rem;
    background: black;
  }
  
  .edit-btn,
  .delete-btn,
  .watch-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    transition: all 0.2s;
  }
  
  .edit-btn {
    color: #007bff;
  }
  
  .delete-btn {
    color: #dc3545;
  }
  
  .edit-btn {
    color: #25D366;
  }
  
  .edit-btn:hover,
  .delete-btn:hover,
  .share-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  