.category-filter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-x: auto;
  overflow-y: hidden;
  cursor: grab;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.category-filter::-webkit-scrollbar {
  height: 0.5rem;
}

.category-filter::-webkit-scrollbar-track {
  background: transparent;
}

.category-filter::-webkit-scrollbar-thumb {
  background: transparent;
}

.category-filter::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.category-filter:active {
  cursor: grabbing;
}

.category-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  cursor: pointer;
  transition: all 0.2s;
}

.category-button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.category-button.active {
  background: var(--color-neon-blue-light);
  color: var(--color-neon-blue);
  border: 1px solid var(--color-neon-blue-light);
}

/* Vereinfachte FilterBar Animation */
.selection-bar-container {
  width: 100%;
  display: flex;
  justify-content: left;
  gap: 0.5rem;
}

.filter-bar-container {
  width: 100%;
  display: flex;
  margin-top: 0.5rem;
  justify-content: left;
  gap: 0.5rem;
}

.filter-bar-container.expanded {
  transform: scaleY(1);
}

@media (max-width: 768px) {
  .category-filter::-webkit-scrollbar {
    display: none;
  }
}
