.profile-links-container {
  display: flex;
  flex-direction: row;
  width: 30rem;
  padding: 1rem;
  gap: 0.5rem;
  color: var(--color-neon-blue);
}

.profile-link {
  background-color: black;
  border-radius: 0.5rem;
  cursor: pointer;
}

.profile-link:hover {
  text-decoration: underline;
}

.profile-links {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
