.profile-wrapper {
  position: relative;
  min-height: 100vh;
}

.profile-info-background {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.profile-info-background::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background-image: var(--profile-background-image);
  background-size: cover;
  background-position: center;
  filter: blur(1.4rem);
  z-index: -1;
  transform: scale(1.1);
  animation: moveBackground 300s linear infinite;

}

.profile-container {
  max-width: 1200px;
  margin: 0 auto;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.error-container {
  text-align: center;
  padding: 2rem;
}

.user-profile-info {
  margin: 2rem 0;
}

.user-events-section {
  max-width: 1200px;
  margin: 2rem auto;
}

.events-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.profile-header-username {
  margin-top: 4.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  text-align: center;
}
