.group-invite-modal-container {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.group-invite-modal-content {
  padding: 2rem;
  border-radius: 1rem;
}

.qr-code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.error-message {
  color: red;
  margin: 10px 0;
}

.group-invite-link-text-button {
  background-color: var(--color-neon-blue);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  align-self: center;
  justify-self: center;
  display: flex;
}

.group-invite-link-text-button:hover {
  scale: 1.05;  
  transition: scale 0.2s ease-in-out;
}

.group-invite-link {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  text-align: center;
}
