.real-list-item-container {
  width: 935px;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

}

.real-event-list-item {
  display: flex;
  flex-direction: column;
  background-color: black;
  cursor: pointer;
  gap: 0;
  margin-bottom: 0.5rem;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  width: 935px;
  max-width: 100%;
  margin: 0 auto;
}


.real-event-thumbnail {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.real-event-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ändert sich zu contain um das ganze Bild anzuzeigen */
  object-position: center;
  background-color: black; /* Fügt schwarzen Hintergrund für letterboxing hinzu */
}

.event-description-real-list-item {
  font-size: 0.9rem;
  color: gray;
  margin-top: 0.5rem;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.real-list-item-meta-container {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: #aaa;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}

.event-meta-container-left {
  display: flex;
  font-size: 1rem;
  gap: 0.5rem;
  margin-left: 0.5rem !important;
}

.real-list-item-meta-container span {
  display: flex;
  align-items: center;
  gap: 6px;
}

.event-meta-container {
  display: flex;
  justify-content: space-between !important;
}

.real-list-item-location {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  gap: 0.5rem;
  font-size: 0.8rem;
  color: var(--color-neon-blue);
}

.event-tags-real-list-item {
  margin: 0.75rem 0;
  overflow-x: auto;
  padding-bottom: 4px;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.event-tags-real-list-item::-webkit-scrollbar {
  display: none;
}

.event-tag {
  display: inline-block;
}

.miniature-event-info {
  width: 100%;
  padding: 0.75rem;
}

.event-info-title-headline {
  margin-top: 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.past-event {
  opacity: 0.5;
}