.real-list-item-profile-header {
  background-color: black;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0 0.5rem;
  color: white;
}

.event-card-lineup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.8rem;
  font-weight: 400;
  color: gray;
}

.real-list-item-profile-header-image {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.real-list-item-profile-header-name {
  font-size: 1rem;
  font-weight: 400;
  color: white;
  cursor: pointer;
}

.real-list-item-profile-header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 1rem;
}

.real-list-item-profile-header-ellipsis {
  cursor: pointer;
}

.real-list-item-profile-header-location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 0.2rem;
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--color-neon-blue);
}
