.explore-feed-wrapper {
  position: relative;
  max-width: 80rem;
  margin: 0 auto;
  width: 100%;
}

.explore-feed-container {
  display: flex;
  margin: 1rem;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth; /* Für sanftes Scrollen */
  max-width: 100%;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  z-index: 10;
  /* Transition for smooth hide/show */
  transition: opacity 0.2s ease;
}

.scroll-button.hidden {
  opacity: 0;
  pointer-events: none;
}

.scroll-button-left {
  left: 0.5rem;
}

.scroll-button-right {
  right: 0.5rem;
}

@media (max-width: 768px) {
  .scroll-button {
    display: none;
  }
  
  .explore-feed-wrapper {
    padding: 0 0.5rem;
  }
  
}

/* Neue Media Query für sehr kleine Bildschirme */
@media (max-width: 480px) {
  .explore-feed-wrapper {
    padding: 0 0.25rem;
  }
  
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem !important;
}

.loading-container .loading-spinner {
  height: 3rem !important;
}
