.city-bar-container {
  font-size: 3rem;
  color: white;
  width: 100%;
  padding: 1.5rem;
  border-radius: 4rem;
  margin-bottom: 1.5rem;
  font-weight: 200;
  user-select: none;
  cursor: pointer;
  background-color: var(--color-neon-blue-light);
}

.city-bar-icon {
  font-weight: 100 !important;
}

.suggestions-list,
.recent-searches ul {
  position: absolute;
  width: 100%;
  border-radius: 0 0 8px 8px;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
}

.suggestions-list li,
.recent-searches li {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.recent-searches h4 {
  padding: 10px 20px;
  margin: 0;
  color: #666;
}

.city-bar-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.city-bar-input-container:hover {
  color: var(--color-neon-blue);
}

@media (max-width: 768px) {
 
}
